---
import Postkort from "../components/Postkort.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <h2>BLIV FRIVILLIG</h2>
  <Postkort />
  <Footer />
</Layout>
