---
import Postkort from "../components/Postkort.astro";
import Footer from "../components/Footer.astro";


import Symbol from "../components/Symbol.astro";
import FirstBlueSection from "../components/first-blue-section.astro";
import SecondBlueSection from "../components/second-blue-section.astro";

import Layout from '../layouts/Layout.astro';
import CTA from '../components/Cta.astro';
import Hero from "../components/Hero.astro"
import GoingPlaces from "../components/AnchorButtons.astro"


---

<Layout>
    <Hero />
    <GoingPlaces />
    <FirstBlueSection />
  <Symbol /> 
  <SecondBlueSection />
   <h2 id="postkort">BLIV FRIVILLIG</h2>
  <Postkort />
  <Footer />

</Layout>

<style>
  h2{
    font-size: 3cqw;
    text-align: center;
  }
</style>