

<div class="cta">
    <a class="knap" href="">STØT OS</a>
</div>


<style>
    .knap{
        font-size: 10px;
        background-color: var(--blue);
        border-radius: 40px;
        padding: 0.5em;
        margin: 0.5em;
        text-decoration: none;
        color: var(--white-text);
        font-family: var(--font);
    }

</style>