

<div class="cta">
    <a class="knap" href="">STØT OS</a>
</div>


<style>
    .knap{
        font-size: 20px;
        background-color: var(--blue);
        border-radius: 40px;
        padding: 0.5em;
        text-decoration: none;
        color: var(--white-text);
        font-family: var(--font);
        margin-left: 2rem;
    }

    @media (min-width: 995px) {
        .knap{
            position: absolute;
            /* left: 80%; */
            right: 1em;
            top: 3em;
        }
        
    }

</style>