<section class="bluesection2">
  <div class="imgWrapper">
    <img src="/img/second-blue-img.png" alt="group of happy volunteers" />
    <div class="blueOverlay"></div>
    <h2>Tag en ven med og <br /> gør en forskel - <br /> frivillighed <br /> er sjovere <br /> sammen.</h2>
  </div>
</section>

<style>
  .bluesection2 {
    background-color: blue;
  }
  h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font: var(--font);
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    /* text-align: center; */
    width: 100%;
    font-size: 3.6cqw;
    padding-left: 1rem;
    padding-top: 1rem;
    margin: 0;
  }
  img {
    width: 100%;
  }
  .imgWrapper {
    position: relative;
  }
  .blueOverlay {
    background-color: rgba(0, 0, 255, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .bluesection2 {
  }
</style>
