<h1 class="symbol_text">Frivillige aktiviteter</h1>
<section class="container">
  <div class="symbol_section">
    <h3 class="symbol_text">YOGA</h3>
    <img class="symbol" src="/yoga.png" alt="Image" />
    <p class="hover_text">
      Vil du bruge din yogafaglig baggrund til at gøre en forskel? Har du lyst
      til at øge livskvalitet og kropsbevidstheden blandt hjemløse og socialt
      udsatte? WeShelter søger frivillige yogaunderviser til vores yogaindsats,
      hvor frivillige tilbyder yoga til hjemløse, som bor på herberg og psykisk
      sårbare, som kommer på vores væresteder. Vores yogaindsats har lige nu 6
      frivillige yogaundervisere, fordelt over fire tilbud og vi får brug for
      endnu flere.
    </p>
    <div class="short-line"></div>
  </div>

  <div class="symbol_section">
    <h3 class="symbol_text">AKTIVTETSKLUBBER</h3>
    <img class="symbol" src="/excercise.png" alt="Image" />
    <p class="hover_text">
      I aktivitetsklubben mødes frivillige, hjemløse og socialt udsatte til
      fælles oplevelser som udflugter, biografture eller cafebesøg. Deltagerne
      bestemmer destinationen, og vi sørger for transport og billetter, så alle
      kan være med. Det foregår i et inkluderende og fordomsfrit fællesskab,
      hvor man kan deltage i samtaler eller blot nyde selskabet.
    </p>
    <div class="short-line"></div>
  </div>

  <div class="symbol_section">
    <h3 class="symbol_text">NETVÆRKSVENNER</h3>
    <img class="symbol" src="/internet.png" alt="Image" />
    <p class="hover_text">
      Har du lyst til at gøre en forskel for et andet menneske, som ønsker sig
      mere netværk og oplevelser i hverdagen? Som frivillig netværksven i
      WeShelter gør du en stor forskel for et andet menneske, der enten er
      tidligere eller nuværende hjemløs og i de fleste tilfælde har psykisk
      sygdom inde på livet. WeShelter er et fællesskab af sociale tilbud. Vi
      arbejder for at give hjemløse og socialt udsatte bedre vilkår. Det gør vi
      blandt andet gennem sociale aktiviteter drevet af frivillige – og du kan
      være med!
    </p>
    <div class="short-line"></div>
  </div>

  <div class="symbol_section">
    <h3 class="symbol_text">DE SOCIALE MADKLUBBER</h3>
    <img class="symbol" src="/cooking.png" alt="Image" />
    <p class="hover_text">
      I vores sociale madklubber laver du lækker mad i fællesskab med andre
      frivillige og socialt udsatte. Madklubberne findes på vores herberger og
      væresteder. Her laver frivillige og brugere/beboere i fællesskab lækker og
      næringsrig mad, der passer til små budgetter.
    </p>
    <div class="short-line"></div>
  </div>

  <div class="symbol_section">
    <h3 class="symbol_text">MØBELHJÆLP</h3>
    <img class="symbol" src="/furniture.png" alt="Image" />
    <p class="hover_text">
      Vi modtager gerne donationer i form af herretøj og boligartikler, som vi
      giver videre til herbergsbeboere og hjemløse, der flytter i egen bolig.
      Har du herretøj, møbler eller andre boligartikler såsom lamper og
      køkkenudstyr, som du ønsker at donere til hjemløse og tidligere hjemløse?
      Så tager vi gerne imod det og formidler det videre til beboerne på vores
      herberger, og hjemløse, der står til at skulle flytte i egen bolig.
    </p>
    <div class="short-line"></div>
  </div>

  <div class="middle-line"></div>

  <div class="symbol_section">
    <h3 class="symbol_text">ØKONOMI-RÅDGIVNING</h3>
    <img class="symbol" src="/coins.png" alt="Image" />
    <p class="hover_text">
      WeShelters økonomi- og gældsrådgivning tilbyder gratis og uvildig
      rådgivning til dig, der mangler et sted at bo eller på anden vis står i en
      social udsat position. Økonomi- og gældsrådgivningen kan hjælpe dig med at
      skabe overblik over din økonomi og eventuelle gæld. Vi har fokus på
      brugerinddragelse og læring, og at vores rådsøgende får viden og redskaber
      til selv at kunne håndtere og overskue deres økonomi.
    </p>
    <div class="short-line"></div>
  </div>

  <div class="symbol_section">
    <h3 class="symbol_text">LGBT+</h3>
    <img class="symbol" src="/lgbt.png" alt="Image" />
    <p class="hover_text">
      Med støtte fra Oak Foundation Denmark skal WeShelter styrke mental sundhed
      og trivsel blandt hjemløse og udsatte LGBT+ personer gennem positive
      fællesskaber og etableringen af et netværk for fagpersoner samt et panel
      med udsatte LGBT+ personer.
    </p>
    <div class="short-line"></div>
  </div>

  <div class="symbol_section">
    <h3 class="symbol_text">PEER-TO-PEER</h3>
    <img class="symbol" src="/peer.png" alt="Image" />
    <p class="hover_text">
      Har du erfaring med hjemløshed? Og har du lyst til at gøre en forskel for
      andre, der står i en vanskelig situation? Så har vi brug for dig!
    </p>
    <div class="short-line"></div>
  </div>

  <div class="symbol_section">
    <h3 class="symbol_text">MASSAGE</h3>
    <img class="symbol" src="/massage.png" alt="Image" />
    <p class="hover_text">
      Som frivillig massør kan du give udsatte mennesker ro, nærvær og øget
      kropsbevidsthed. Hjemløse og socialt udsatte lever ofte isolerede liv,
      hvor positiv fysisk kontakt og omsorg hører til sjældenheder. Når
      isolation og ensomhed griber om sig, kan det være ødelæggende for både
      krop og sind. Derfor tilbyder vi gratis massage på vores herberger og
      væresteder.
    </p>
    <div class="short-line"></div>
  </div>

  <div class="symbol_section">
    <h3 class="symbol_text">LEDER</h3>
    <img class="symbol" src="/leader.png" alt="Image" />
    <p class="hover_text">
      Motiveres du af at skabe gode rammer, drive udviklingsprocesser, fremme
      samarbejde og koordinere aktiviteter? Så bliv frivillig leder i WeShelter!
    </p>
    <div class="short-line"></div>
  </div>
</section>

<style>
  .symbol_text {
    font-family: var(--font);
    display: flex;
    justify-content: center;
    margin: 2rem;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    font-family: var(--font);
  }

  .symbol_section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2rem;
  }

  .symbol {
    width: 300px;
    height: 300px;
    object-fit: contain;
    display: block;
    transition: opacity 0.5s ease-in-out;
  }

  .hover_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
    font-size: 16px;
    color: #333;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .hover_text p {
    text-size-adjust: 50px;
  }

  /* Hover Effect */
  .symbol_section:hover .symbol {
    opacity: 0;
  }

  .symbol_section:hover .hover_text {
    opacity: 1;
  }

  /* Line  */

  .short-line {
    width: 50%;
    margin: 3rem auto;
    margin-bottom: 0%;
    border: 2px dashed black;
    border-radius: 5px;
  }

  .middle-line {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0; /* Makes it stretch to the full height */
    transform: translateX(-50%);
    margin: 1rem;
    border: 2px dashed black;
    border-radius: 5px;
  }

  @media (max-width: 767px) {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: var(--font);
    }

    .symbol_section {
      position: relative;
      display: inline-block;
      cursor: pointer;
      width: 300px;
      text-align: center;
      margin: 10px;
    }

    .symbol {
      width: 100%;
      transition: opacity 0.5s ease-in-out;
    }

    .hover_text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;
      font-size: 16px;
      color: #333;
      background: rgba(255, 255, 255, 0.8);
      padding: 10px;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }

    /* Hover Effect */
    .symbol_section:hover .symbol {
      opacity: 0;
    }

    .symbol_section:hover .hover_text {
      opacity: 1;
    }

    /* Horizontal line */
    .short-line {
      width: 100%;
      margin: 2rem auto;
      margin-bottom: 0%;
      border: 2px dashed black;
      border-radius: 5px;
    }

    .middle-line {
      display: none;
    }
  }
</style>
