<section class="container">
  <h2>Frivillige aktiviteter</h2>
  <div class="symbol_section">
    <h3>YOGA</h3>
    <img class="symbol" src="/image.jpg" alt="Image" />
  </div>
  <div class="symbol_section">
    <h3>AKTIVTETSKLUBBER</h3>
    <img class="symbol" src="/image.jpg" alt="Image" />
  </div>
  <div class="symbol_section">
    <h3>NETVÆRKSVENNER</h3>
    <img class="symbol" src="/image.jpg" alt="Image" />
  </div>
  <div class="symbol_section">
    <h3>DE SOCIALE MADKLUBBER</h3>
    <img class="symbol" src="/image.jpg" alt="Image" />
  </div>
  <div class="symbol_section">
    <h3>MØBELHJÆLP</h3>
    <img class="symbol" src="/image.jpg" alt="Image" />
  </div>
  <div class="symbol_section">
    <h3>ØKONOMI-RÅDGIVNING</h3>
    <img class="symbol" src="/image.jpg" alt="Image" />
  </div>
  <div class="symbol_section">
    <h3>LGBT+</h3>
    <img class="symbol" src="/image.jpg" alt="Image" />
  </div>
  <div class="symbol_section">
    <h3>PEER-TO-PEER</h3>
    <img class="symbol" src="/image.jpg" alt="Image" />
  </div>
  <div class="symbol_section">
    <h3>MASSAGE</h3>
    <img class="symbol" src="/image.jpg" alt="Image" />
  </div>
</section>

<style>
  .symbol img {
    width: 90px;
    height: 96.221px;
    flex-shrink: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin: 2rem;
  }

  .symbol_section {
  }
</style>
