---
import "../css/variables.css"
import CTA from "../components/Cta.astro"
import Burgermenu from "../components/Burgermenu.astro"

---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<header>
			<CTA />
			<Burgermenu />
		</header>
		<main>
			<slot />
		</main>
	</body>
</html>



<style>
	header{
		display: flex;
		justify-content: space-between;
	}

	@media (min-width 700px) {
	/* header{
		justify-content: last baseline; 
	}	 */

	}
</style>
